.box {
  width: 180px;
  height: 80px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 15px;
  float: left;
}

.clearfix {
  float: none;
}

.box1 {
  width: 200px;
  height: 100px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 15px;
  background-color: #f0f0f0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.five {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.six {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.seven {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
